@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0px 10px 0px 10px;
  font-family: 'Montserrat', sans-serif;

}

.body {
  height: 100%;
  margin: 50px;
}

.navbar {
  background-color: lavender;
  /* background-color: #B65FCF; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.googlebtn {
  display: flex;
  margin-top: 10px ;
  align-items: center;
  font-size: 15px;
  padding: 7px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: none;
  background: #ffffff;
  cursor: pointer;
  float: right;

}

.btn-logout {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: none;
  background: #ffffff;
  cursor: pointer;
  float: right;

}

.nav-op{
  display: flex;
  align-items: center;
}

.nav-fun{
  font-size: 20px;
  padding: 20px;
  text-decoration:none;
}




/* Description Box */

.body-gif-1{
  display: flex;
  justify-content: space-around;
}

.description-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 65vh;
  font-size: 20px;
}

.inner-dsc {
  padding: 17px;
}

.btn {
  cursor: pointer;
  background-color: lavender;
  color: rgb(153, 29, 184);
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(153, 29, 184);
}

btn:disabled {
  background: #000;
}

.Cancel {
  color: red;
  background-color: #ffcbcb;
  border: 1px solid red;
}

.Submit:hover {
  background-color: rgb(199, 199, 252);
}

.form-btn {
  display: flex;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  border: 2.5px solid lavender;
  border-radius: 10px;
  
  font-size: 15px;
  padding: 10px;
 
}







/* Product Contaainer */

.pd-container {
  margin: 175px;
}

/* Auction Card */

.auc-Card {
  display: flex;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(153, 29, 184);
  border-radius: 15px;
  flex-direction: column;


}

.auc-body {
  display: flex;
}

.auc-img {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 250px;
  width: auto;


}

.auc-seller {
  justify-content: right;

}

.auc-title {
  font-size: x-large;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

td {
  color: rgb(153, 29, 184);
  font-size: 20px;
  padding: 7px;
}

.head-color {
  color: #db82ed;
}



.bid-btn {
  cursor: pointer;
  background-color: lavender;
  color: rgb(153, 29, 184);
  font-size: 17px;
  border-radius: 7px;
  padding: 6px;
  border: 1px solid rgb(153, 29, 184);
}

.Cancel-btn {
  color: red;
  background-color: #ffcbcb;
  border: 1px solid red;
  font-size: 17px;
  border-radius: 7px;
  padding: 6px;

}




/* Main app CSS */
.headline {
  display: flex;
  font-size: 59px;
  /* color: #4B0082 ; */
  color: #720e9e;
  padding: 87px 0px 0px 0px;


}

.headline-2{
  display: flex;
  font-size: 50px;
  color: #720e9e;
  padding: 90px 0px 0px 5px;


}

.headline-3{
  display: flex;
  font-size: 50px;
  color: #720e9e;
  padding: 90px 0px 0px 5px;

}

.wall-1 {
  display: flex;
  flex-direction: row-reverse;

}

.img-auc-1 {
  display: flex;
  height: 500px;
}




.container {
  display: flex;
  margin: 25px;
  padding: 25px;
  flex-direction: column; 
}

.container-1{
  padding: 25px;
  display: flex;
 
  
}

.con-text{
  display: flex;
  padding: 15px;
}
.container-2{
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.arrow-img{
height: 50px;
width: auto;
}

.btn-box {
  display: flex;
  height: 400px;
  border: 7px solid lavender;
  border-radius: 10px;

}



.head-1{
  font-size: 35px;
  font-weight: 100px ;
  display: flex;
  color: #720e9e;
  justify-content: space-around;
}

hr{
  color: lavender;
  

}




/* Footer CSS */

.footer {
  background-color: lavender;
  display: flex;
  padding: 10px;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.contact {
  display: flex;


}


.icon {
  height: 45px;
}

.love {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}


.p {
  font-size: 27px;
  display: flex;
  /* padding: 10px; */
  align-items: center;
}

.Tip{
  display: flex;
  justify-content: space-around;
}